.dropdown {
  position: relative;
  display: inline-block;
  width: max-content;
}
.dropdownToggler {
  width: max-content;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: #3c4041;
  outline: none;
  font-size: 18px;
  min-width: 50px;
  min-height: 18px;
}
.dropdownMenu {
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  z-index: 50;
}
.dropdownMenuItem {
  width: 200px;
  background: #3c4041;
  padding: 6px 12px;
  color: white;
  border: 0.5px solid #8cc63e;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}
.dropdownMenuItem:hover {
  background: #34538a;
}
