$theme-colors: (
  "primary": #00a2e1,
  "danger": #cd212a,
  "success": #008c45,
  "white": #f4f5f0,
  "light": #f4f5f0,
);
@import "~bootstrap/scss/bootstrap";
.progressBar {
  height: 12px;
  margin-bottom: 0.8em;
}

.scrollbar-primary::-webkit-scrollbar {
  background-color: transparent;
}
.mainContainer {
  height: 100vh;
}
.membersView {
  overflow: auto;
  max-height: 80vh;
}
.membersView::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.membersView::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}
.modalBody {
  max-height: 70vh;
  overflow: auto;
}
.modalBody::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.modalBody::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  // background: #000;
}
.loader .face {
  position: absolute;
  border: 2px solid #121212;
  
}
.loader .face.face1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-45deg);

  // background: #090909;
  // box-shadow: 0 0 10px rgba(0, 0, 0,1);
  border-radius: 50%;
  // border-left: 2px solid #ffff00;
  // border-top: 2px solid #ffff00;
  animation: animate 3s linear infinite;
}
.loader .face.face10 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: #090909;
  // box-shadow: 0 0 10px rgba(0, 0, 0,1);
  border-radius: 50%;
  // border-left: 2px solid #ffff00;
  // border-top: 2px solid #ffff00;
  // animation: animate 3s linear infinite;
  transform: rotate(-45deg)
}
.loader .face.face11 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: #090909;
  // box-shadow: 0 0 10px rgba(0, 0, 0,1);
  border-radius: 50%;
  // border-left: 2px solid #ffff00;
  // border-top: 2px solid #ffff00;
}
.loader .face.face12 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: #090909;
  // box-shadow: 0 0 10px rgba(0, 0, 0,1);
  border-radius: 50%;
  // border-left: 2px solid #ffff00;
  // border-top: 2px solid #ffff00;
  // animation: animate 3s linear infinite;
}

.loader .face.face2 {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  // background: #090909;
  // box-shadow: 0 0 10px rgba(0, 0, 0,1);
  border-radius: 50%;
  border-right: 2px solid #03a9f4;
  border-bottom: 2px solid #03a9f4;
  animation: animate 3s reverse linear infinite;
}
.loader .face .circle {
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 50%;
  height: 2px;
  transform-origin: left;
}
.loader .face.face1 .circle {
  transform: rotate(-45deg);
}
// .loader .face .circle {
//   transform: rotate(-10deg);
// }

// .loader .face.face10 .circle {
//   transform: rotate(-45deg);
// }
// .loader .face.face11 .circle {
//   transform: rotate(-45deg);
// }
// .loader .face.face12 .circle {
//   transform: rotate(-45deg);
// }

.loader .face.face2 .circle {
  transform: rotate(-45deg);
}
.loader .face .circle:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  top: -4px;
  right: -6px;
}
.loader .face.face1 .circle:before {
  background: #ffff00;
  // box-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0,
  //   0 0 100px #ff0, 0 0 0 5px rgba(255, 255, 0, 0.1);
}
.loader .face.face10 .circle:before {
  background: #00a2e1;
  // box-shadow: 0 0 20px #00a2e1, 0 0 40px #00a2e1, 0 0 60px #00a2e1,
  //   0 0 80px #00a2e1, 0 0 100px #00a2e1, 0 0 0 5px rgba(255, 255, 0, 0.1);
}
.loader .face.face11 .circle:before {
  background: #cd212a;
  // box-shadow: 0 0 20px #cd212a, 0 0 40px #cd212a, 0 0 60px #cd212a,
  //   0 0 80px #cd212a, 0 0 100px #cd212a, 0 0 0 5px rgba(255, 255, 0, 0.1);
}
.loader .face.face12 .circle:before {
  background: #008c45;
  // box-shadow: 0 0 20px #008c45, 0 0 40px #008c45, 0 0 60px #008c45,
  //   0 0 80px #008c45, 0 0 100px #008c45, 0 0 0 5px rgba(255, 255, 0, 0.1);
}

.loader .face.face2 .circle:before {
  background: #03a9f4;
  box-shadow: 0 0 20px #03a9f4, 0 0 40px #03a9f4, 0 0 60px #03a9f4,
    0 0 80px #03a9f4, 0 0 100px #03a9f4, 0 0 0 5px rgba(3, 169, 244, 0.1);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
